
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SlouchFitnessTracker-primary: mat.define-palette(mat.$indigo-palette);
$SlouchFitnessTracker-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SlouchFitnessTracker-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SlouchFitnessTracker-theme: mat.define-light-theme((
  color: (
    primary: $SlouchFitnessTracker-primary,
    accent: $SlouchFitnessTracker-accent,
    warn: $SlouchFitnessTracker-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SlouchFitnessTracker-theme);

/* You can add global styles to this file, and also import other style files */
:root {
    --color-light-grey: #EDF2F4;
    --color-bright-red: #EF233C;
    --color-dark-red: #D90429;
    --color-slate-gray: #8D99AE;
    --color-dark-blue: #2B2D42;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-light-grey);
    height: 100%;
  }

  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
